<!DOCTYPE html>
<html lang="en">
{% load static %}
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#">Our story</a>
  <a href="#">Contact us</a>
</div>
<body>
    <span style="float:left;font-size:30px;cursor:pointer;" onclick="openNav()">&#9776;</span>
</body>
<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>
</html>