<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <title>Contact Us Page</title>
</head>
<body>
<link rel="stylesheet" href="{% static 'style.css' %}">
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="{% url 'home' %}">Home</a>
  <a href="{% url 'our_story' %}">Our story</a>
  <a href="{% url 'contact_us' %}">Contact us</a>
</div>
<div class="header">
  <div class="info">
    <h1>Contact Us</h1>
  </div>
</div>
<span style="font-size:50px;cursor:pointer;top:2%;left:2%;position:fixed;color:white;" onclick="openNav()">&#9776;</span>
<section class="content">
  <p> Please contact us via travelution@gmail.com or visit our instagram page @travelution!
  </p>
</section>
<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>
</body>
</html>